<a href="https://colab.research.google.com/github/damopea94/damope/blob/master/Python_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_name(name):
    print(name)


name = str(input("Please input a string:"))
print_name(name)

Please input a string:HELLO WORLD
HELLO WORLD

In [2]:
sum=0
#this will add the even number
for number in range(1,1001):
    if number%2==0:
        sum=sum+number

print("sum of even number of 1-10001 is :",sum)

sum of even number of 1-10001 is : 250500

In [3]:
#this method will do the product of all the numbers one by one and return that
def get_product(lists):
    if type(lists) != list:
        return lists
    if not lists:
        return 1
    return get_product(lists[0]) * get_product(lists[1:])


print(get_product([12,10,3,2,[6,[7,8,9],19,21],21]))

18243429120

In [4]:
matrix=[]
#this method will convert the list to array and write the data in the txt file
def convert(lists):
    for row in lists:
        data=row
        column=[]
        for number in data:
            if int (number)>20:
                column.append(0)
            else :
                column.append(number)
        matrix.append(column);
    print(matrix)
    file = open("results.txt","w")
    file.write("[")
    count=0;
    for row in matrix:
        data=row
        file.write("[")
        for number in data:
            file.write(" "+str(number))

        count+=1;
        if count!=len(matrix):
            file.write("]\n")
        else:
            file.write("]")
    file.writelines("]")
    file.close()
convert([[23,43,12],[32,12,52],[15,35,52],[19,28,56]])

[[0, 0, 12], [0, 12, 0], [15, 0, 0], [19, 0, 0]]

In [5]:
#this method will coun the number of frqueies of number in the list
def count_frequency(numbers):
    frequencies={}
    index = 0;
    for number in numbers:
        count=0;
        for num in range(index,len(numbers)):
            if number == numbers[num]:
                count+=1;

        if count==1:
            frequency = 0
            for occurance in numbers:
                if occurance==number:
                    frequency+=1

            frequencies[number]=frequency
        index+=1
    return frequencies


frequencies=count_frequency([1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3])
for row in frequencies:
    print(row,frequencies[row])

32 1
5 1
4 6
1 2
2 17
3 9

In [10]:
#this create the class Point
class Point:

    #this is the constructor with two parameters
    def __init__(self, x=0, y=0):
        '''Defines x and y variables'''
        self.x = x
        self.y = y

    def __repr__(self):
        ...
        return "Test()"

    #this method will print the object as string
    def __str__(self):
        '''Defines x and y variables'''
        return "The Point is ("+str(self.x)+ ","+ str(self.y)+ ")"

    #this method will add the two objects and return a new point
    def __add__(self, other):
        x=self.x+other.x
        y=self.y+other.y
        return Point(x,y)


p = Point(2,3)
p1 = Point(3,4)
print(p1)
print(p1+p)

The Point is (3,4)
The Point is (5,7)

In [0]:
import xlrd


#here we create the object of workbook to get the data from the xls and return the object of it
def read_data(name):

    workbook = xlrd.open_workbook(name)
    sheet = workbook.sheet_by_index(0)
    return sheet


#this method will get help us to column index from column name
def get_column_index(name):
	data = read_data("catering_sale_all.xls")
	for i in range(data.nrows):
		for j in range(data.ncols):
			print("j",j)
			if data.cell_value(i,j)==name:
				print("j",j)
				return j;
	return -1


#this method will get the data and will sum it
def sum(name):
	data= read_data("catering_sale_all.xls")
	index=get_column_index(name)
	sum=0
	for i in range(data.nrows):
		for j in range(data.ncols):
			if j!=0 and i!=0:
				if j==index:
					sum+=data.cell_value(i,j)
	return sum


#in this method will take the input from the user and will show the sum
def main():
	print("0 exit\n1 chicken feet\n2 steamed dumplings\n3 ribs\n4 full chicken\n5 stuffed bun\n6 flowering cabbage\n7 doufu\n8 chive dumplings\n9 pudding\n10 original cabbage ")
	index=int(input("please input a number in the list:"))
	name=""
	if index==1:
		name="chicken feet"

	elif index==2:
		name="steamed dumplings"
	elif index==3:
		name="rib"

	elif index==4:
		name="full chicken"
	elif index==5:
		name="stuffed bun"
	elif index==6:
		name="flowering cabbage"
	elif index==7:
		name="doufu"
	elif index==8:
		name="chive dumplings"
	elif index==9:
		name="pudding"
	elif index ==10:
		name = "original cabbage"
	else:
		exit()
	print("Total sale of ",name ,"is",int(sum(name)))
	main()

main()

0 exit
1 chicken feet
2 steamed dumplings
3 ribs
4 full chicken
5 stuffed bun
6 flowering cabbage
7 doufu
8 chive dumplings
9 pudding
10 original cabbage

In [0]:
#question 10
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

#this method will take the data from csv file
def read_csv():
    data =pd.read_csv("energy-production.csv")
    df = DataFrame(data)
    return df;


#this method will get the data for a specified year and will return names of column and data as list
def get_year_data(year):
    data_frame=read_csv()
    year_data=data_frame.loc[data_frame["Year"] == year]
    return year_data.values.tolist(),list(data_frame.columns.values.tolist())


#this is main method this will take the input and will call print the graph
def main():
    year =int(input("please input a year between 1973 and 2014:"))

    year_data,colum=get_year_data(year)


    colums=[]
    data=[]
    print(year_data)
    for raw in year_data:

        for i in range(2,len(raw)):
            data.append(raw[i])
            print("data=",raw[i])

    for i in range(2,len(colum)):
        colums.append(colum[i])
    plot = plt.figure()
    ax = plot.add_axes([0, 0, 1, 1])
    ax.bar(colums, data)
    plt.show()


main()

In [0]:
#Question 9
import pymysql
import matplotlib.pyplot as plt

#this method will get connection and will return its
def get_connection():
	connection = pymysql.connect(host='localhost', user='root',passwd='',db='world')
	return connection


#in this method we will get the query result and return it
def get_population_continent():
	connection = get_connection()
	cursor = connection.cursor()
	cursor.execute("SELECT continent,SUM(d.Population) FROM country d LEFT JOIN city c ON c.countrycode=d.code  GROUP BY continent ")
	result = cursor.fetchall()
	return result


#in this method we divide the result in 2 list and return them
def set_data():
    result=get_population_continent()
    index=0;
    names = []
    data = []
    for row in result:
        names.append(row[0])
        data.append(row[1])
        index = index+1
    return names, data

#here we plot the graph using the data returned from the query
def plot_graph():
    names,data=set_data();
    explode = (0.1, 0.1, 0.1, 0.1,0.1,0.1,0.1)  # only "explode" the 2nd slice (i.e. 'Hogs')
    fig1, ax1 = plt.subplots()
    ax1.pie(data, explode=explode, labels=names, autopct='%1.1f%%',
            shadow=True, startangle=90)
    ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

    plt.show()


plot_graph()

In [0]:
#question 9
import pymysql


#this method will create connectin with the database
def get_connection():
	connection = pymysql.connect(host='localhost', user='root',passwd='',db='world')
	return connection


#this method will run the queries and will return the result
def get_average_life_by_continent():
	connection = get_connection()
	cursor = connection.cursor()
	cursor.execute("SELECT AVG(LifeExpectancy),continent FROM country d left JOIN city c ON c.countrycode=d.code  GROUP BY continent")
	result = cursor.fetchall()
	return result


#here we get the result and print the data
def main():
    print("avglife | continent")
    result=get_average_life_by_continent();
    for row in result:
        print(row[0], " | ", row[1])


main()